body {
    font-family: "monstserrat",'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, a:hover {
    text-decoration:none;
}
#topbar {
    background-color: #618264;
    color: #fff;
    height: 50px;
    line-height: 50px;
}

.top-contact, .sosmed {
    list-style: none;
    padding: 0;
}
#topbar li {
    display: inline-block;
}

#topbar li a {
    color :#fff;
    display: inline-block;
    padding: 0 20px;  
}
#topbar li a i {
    color: #fff;
    margin-right: 5px;
}
#topbar .sosmed li a {
    padding : 0 5px;
}
#topbar .sosmed li a {
    color : #fff;
}

.brand {
    display: flex;
}

.brand .brand-name h1 {
    font-size: 25px;
    color: #618264;
    text-transform: uppercase;
}

.brand .brand-name h3{
    font-size: 18px;
    font-family: Raleway, 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888888;

}
.pembungkus-searchbox {
    display: flex;
    align-items: center;
}
.searchbox {
    width: 100%;
}
.btn.btn-utama {
    background-color: #618264;
    color :#fff ;
    text-transform: uppercase;
    font-weight: 600;
}

/*css navbar*/
/*nav {
    height: 60px;
}*/

.navbar{
    padding: 0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.30px;
    border-bottom: 4px solid #888888;
}
.bg-hijau{
    background-color: #618264!important;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link{
    background-color: #888888;
    color: #fff;
}


.active {
    background-color: #888888;
    color : #618264;
}

li.nav.item.active a{
    color: #618264;
}

.navbar-light.navbar-nav .nav-link{
    padding: 10px 20px;
    display: inline-block;
}

/*css untuk section sambutan */
#sambutan {
    margin: 60px 0;;
}

#sambutan h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
}
 #sambutan h3 {
    color: #618264;
    font-size: 28px;
    font-weight: 500;
 }
#sambutan p {
    font-size: 14px;
    font-family: Raleway, sans-serif;
    font-size: 500;
    line-height: 28px;
}

/* css untuk section event*/
#prestasi {
    min-height: 250px;
}

#prestasi .col-item-kanan {
    padding: 20px 30px 20px 20px;
}

.section-item {
    margin: 70px 0;
    box-shadow: 0 0 25px #666;
    min-height: 260px;
    overflow: hidden;
}
.section-item-thumbnail {
    max-width: 89%;
    width: 100%;
    object-fit: cover;
    height: 300px;
    padding-bottom: 40px;
}

.section-title {
    margin-bottom: 90px;
    text-align: center;
}

.section-title h2 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 30px;
    text-transform: uppercase;
    color: #618264;
    font-weight: 600;
}

.section-title h2:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #888888;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.section-item-title {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section-item-title h3 {
    font-size: 18px;
    color: #618264;
    line-height: 25px;
    font-weight: 600;
    padding-right: 40px;
}

.section-item-title span {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.section-item-title span i {
    margin-right: 5px;
}

.section-item-title:first-of-type {
    margin-right: 15px;
}

.section-item-body p {
    font-size: 12px;
    line-height: 25px;
    color: #666;
}

/*css untuk selengkapnya*/

.tombol-selengkapnya {
    text-align: center;
    padding: 50px;
}
.btn.btn-more{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #618264;
    text-align: center;
    display: inline-block;
    margin : 0 auto;
    border: 2px solid #618264;
    border-radius: 0;
    padding: 10px 30px;
}

/*--css departemen--*/
/*--css partner--*/
/*--css kiprah--*/
/*--dosen--*/
.card-dosen .card-img-dosen {
    width: 500px;
    height: 500px;
}
/*ppid*/
.card-profilppid .card-img-profil{
    width: 1000px;
    height: 500px;
}

.card-informasippid .card-img-informasippid {
    width: 1000px;
    height: 100px;
}
